<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navBar">
        <ul class="links">
          <li>
            <a href="./page.html">home</a>
          </li>
          <li>
            <a href="./about.html">about</a>
          </li>
          <li>
            <a href="./contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="aboutMain">
      <h1>About</h1>
    </main>
  </body>
</html>
