<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasan + Essa</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navBar">
        <ul class="links">
          <li>
            <a href="./page.html">home</a>
          </li>
          <li>
            <a href="./about.html">about</a>
          </li>
          <li>
            <a href="./contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main page wrapper -->
    <div class="container">
      <main>
        <!-- Heading for title -->
        <h1 class="imp">Book Component by function</h1>

        <div class="book-container">
          <!-- Book img -->
          <div class="book">
            <img src="../images/book.jpg" alt="book" />
          </div>

          <!-- Author credit under the book -->
          <h3 class="imp author">By Kyle Simpson</h3>

          <!-- Small description below the book -->
          <p id="small-para">
            parts of the language that many javascript programmers simply avoid
          </p>
        </div>
      </main>

      <!-- Page footer -->
      <footer>
        <p class="imp">&copy; 2025 Hasan + Essa</p>
      </footer>
    </div>
  </body>
</html>
